@model CityDTO
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Delete</h3>

<div class="container row">
    <div class="col-12 col-sm-8 col-md-6">
        <div class="alert alert-warning">
            Silmek istediğinize emin misiniz ? 
        </div>
    </div>
</div>

<div class="row">
    <form method="post" asp-action="Delete" asp-controller="City">
        <input type="hidden" asp-for="CityId"/>
        <div class="mb-3">
            <label>Sehir Adı</label>
            <div class="form-control">@Model.CityName</div>
        </div>
        <div class="float-right">
            <button class="btn btn-warning" type="submit">Onayla</button>
            <a class="btn btn-success" asp-controller="City" asp-action="Index">İptal</a>
        </div>
    </form>
</div>