@model CityDTO
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Sehir Güncelleme Sayfası</h3>

<div class="container row">
    <div class="col-12 col-sm-8 col-md-6">
        <form method="post" class="was-validated" asp-action="Update" asp-controller="City">
            <div>
                <input type="hidden" asp-for="CityId" />
                <label asp-for="CityName">Şehir Adı</label>
                <input type="text" asp-for="CityName" class="form-control" placeholder="Sehir Adi Giriniz" required autocomplete="off" />
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <div class="mt-2 float-right">
                <button class="btn btn-primary" type="submit">Güncelle</button>
            </div>
        </form>
    </div>
</div>