@model StationDTO

<div class="row">
    <div class="col-lg-12 col-sm-8 col-md-6">
        <div class="col-8 alert alert-warning">
            Dikkat!Onayladığınızda Bu Kayıt Silinecek
        </div>
    </div>
</div>
<div class="row container">
    <div class="col-lg-12 col-sm-10 col-md-8 p-0">
        <form asp-action="Delete" method="post">

                <input type="hidden" asp-for="StationId" />

            <div class="col-6 pl-0">
                <label class="ml-0">Şehir Adı</label>
                <div class="ml-0 form-control col-12 mt-2">
                    @Model.StationName
                </div>
                <div class="float-right mt-2">
                    <button class="btn btn-danger text-center p-2 mr-4" type="submit">Onayla</button>
                    <button class="btn btn-light text-center p-2 mr-4" asp-action="Index" asp-controller="Station">İptal</button>
                </div>
            </div>

        </form>
    </div>
</div>