@model StationDTO
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Durak Güncelleme </h3>

<div class="container row">
    <div class="col-12 col-sm-8 col-md-6">
        <form method="post" class="was-validated" asp-action="Update" asp-controller="Station">
           <div>
               <input type="hidden" asp-for="StationId" />
               <label asp-for="StationName">Durak Adı</label>
               <input type="text" asp-for="StationName" class="form-control" placeholder="Durak Adı Giriniz" required autocomplete="off"/> 
               <select class="form-control mt-3" asp-for="CityId" asp-items="@ViewBag.City"></select>
               <div class="valid-feedback"></div>
               <div class="invalid feedback"></div>
           </div>
            <div class="mt-2 float-right">
                   <button class="btn btn-success over text-center" type="Submit">Kaydet</button>
               </div>

        </form>
    </div>

</div>

